body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('https://png.pngtree.com/thumb_back/fw800/background/20230516/pngtree-gym-with-many-weights-in-dark-lighting-image_2549101.jpg') center/cover no-repeat; /* Fondo con imagen */
    color: #fff; 
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color:rgb(114, 117, 111); 
    color: #fff); 
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  button:hover {
    background-color: rgb(242, 244, 242); 
  }
  
